.map{
    fill: steelblue;
}
.horz-line{
    width: 80%;
    margin-bottom: 50px;
}
h1{
    font-size: 37px;
}
.website-title{
    text-align: center;
}
svg{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.graticule {
    fill: none;
    stroke: #000;
}

.graticule.outline {
    stroke-width: 2px;
}
