<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8' />
    <title></title>
    <style>
      h1 {text-align: center;}
    </style>
    <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v1.9.1/mapbox-gl.css' rel='stylesheet' />
    <link href='static/css/homepage_style.css' rel='stylesheet' />
</head>
<body>
  <div id='map'></div>
  <a id='post-story-button' href="/new_post">
    <img src="static/css/img/feather.png" id="feather-img"></img>
  </a>

  {% block javascript %}
    <script>
      data = JSON.parse({{ data | tojson }});
    </script>
  {% endblock %}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v1.9.1/mapbox-gl.js'></script>
  <script src='static/js/homepage.js'></script>
  <h1><a id='about-button' href="/about">
    COVIDAL: Staying Connected through the Power of Shared Stories.
  </a></h1>
</body>
</html>


