<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="{{ url_for('static', filename='css/post.css') }}" rel='stylesheet' />
</head>
<body>

  <div class="row">
    <div class="leftcolumn">
      <div class="card">
        <p>{{ post_data.name }}</p>
        <h5>{{ post_data.timestamp }}</h5>
        <div class="fakeimg" style="height:200px;">Image</div>
        <p>{{ post_data.story }}
        </p>
      </div>
    </div>
  </div>

  {% block javascript %}
    <script>
      post_data = JSON.parse({{ post_data | tojson | safe }});
      console.log(post_data)
    </script>
  {% endblock %}
  <script src="{{ url_for('static', filename='js/post.js') }}"></script>
</body>
</html>
